extends layout
block content

    .m-auto.flex.flex-col.items-center
        h1.px-4.py-2= title
        form.flex.flex-col.gap-2(action='' method='POST')
                label(for="title") Title: 
                input#title(type='text' readonly name = 'title' placeholder='Title' required='true' value=(undefined===message?'':message.title) style='border: 1px solid #ccc; border-radius: 4px; padding: 8px; margin-bottom: 10px;')
                
                label(for="summary") Summary: 
                input#summary(type='textarea' readonly name = 'summary' placeholder='Summary' required='true' value=(undefined===message?'':message.summary) style='border: 1px solid #ccc; border-radius: 4px; padding: 8px; margin-bottom: 10px;')
                button.button(type='submit' ) Delete

    