doctype html
html.h-full
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='/stylesheets/tailwind.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body.h-full.flex.flex-col
    header.sticky.top-0.px-6.py-3.flex.justify-between.flex-wrap
      a(href="/") MembersOnly
      nav
        ul.flex.gap-4
          if !user
            li 
              a(href="/login") Login
            li
              a(href="/signup") Sign Up
          else 
            if user.membershipStatus === 'none'
              a.px-4.py-2(href="/user/member") Be a Member 
            else if (user.membershipStatus === 'member')
              a.px-4.py-2(href="/user/admin") Become an Admin

            
            p.px-4.py-2 Membership Status: #[strong=user.membershipStatus]
            a.px-4.py-2(href="/logout") Log out
    hr

    .py-5.px-7.max-w-7xl.grow.w-full.mx-auto
      block content

    script(src="/javascripts/index.js" type="text/javascript") 
